*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: #0A22F4;
    height: 100px;
}
.container{
    max-width: 1960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 17px;
    position: relative;
}
.h-flex img{
    width: 95px;
    height: 55px;object-fit: contain;
}
nav a{
    color: #FFFFFF;
}
.navbar-ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.h-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 90px;
}
.button button{
   background-color: white;
   margin-left: 10px;
   border: 8px solid white;
}
.box{
    background-color: #F9F9F9;
    width: 70px;
    height: 70px;
}
.wrapper div:nth-child(2) .box{
    background-color: #0A22F4;
}
.wrapper{
    display: flex;
    column-gap: 30px;
}
.section1{
    margin-top:100px;
}
.section1 h2{
    position: absolute;
    left:-2;
    top: -70px;
    color: #171717;
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    font-size: 32px;

}
.wrapper h4{
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    font-size: 22px;
}
.section1{
    background-color:white;
    display: flex;
    height: 50vh;
    align-items: center;
}
.header1{
    display: flex;
    align-items: center;
}
.wrapper p{
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    font-size: 16px;
    color:#171717 ;
}